<html>
<head>
        <title>標題</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <script src="jquery.js"></script> 
        <script src="bootstrap.min.js"></script> 
</head>
<body>
    <h1>HOME</h1>
    

</body>
</html>